#parte_1{
    display: flex;
    
}


#parte_2{
    display: flex;
}


#parte_3{
    display: flex;
}

.conteudo_maior{
    background-color: #cfe0f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1300px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
}

.conteudo_menor{
    background-color: #cfe0f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    height: 400px;
margin: 10px;
border-radius: 10px;
display: flex;

}

body{
    background-color: white;
}

#imagem_começo{
    width: 300px;
    height: 300px;
    
}

.palavras{
    display: flex;
   flex-direction: column;
   margin: 10px;
}

.botoes_1{
    margin-left: 400px;
    margin-bottom: 40px;
    border-radius: 6px;
}

.botao_diferente{
    border-radius: 6px;
}

.palavra{
    margin-left: 250px;
}

.espaço{
    margin-left: 700px;
}

.img_parte{
    width: 500px;
    height: 400px;
}

.texte{
    flex-direction: column;
}